<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<p>Add user Account</p>
<form action="#" th:action="@{/userAccount/add}" th:object="${newUserAccount}" method="post">
    <table border="1">
        <tr>
            <td><label>Username</label></td>
            <td><input type="text" th:field="{username}"></td>
        </tr>

        <tr>
            <td><label>Password</label></td>
            <td><input type="password" th:field="{password}"></td>
        </tr>
        <td><input type="submit" value="Submit"></td>

    </table>
</form>
</body>
</html>