<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add producer</title>
</head>
<body>
<form action="#" th:action="@{producer/add}" th:object="${newProducer}" method="post">
    <table border="1">
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{producerName}"/></td>
        </tr>

        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
<!--        <div class="input-group mb-3">-->
<!--            <div class="input-group-prepend">-->
<!--                <label class="input-group-text" for="inputGroupSelect2">Producers</label>-->
<!--            </div>-->
<!--            <select id="inputGroupSelect2" class="custom-select" th:field="${newProducer.producer.id}">-->
<!--                <option selected th:value="null">Choose</option>-->
<!--                <option th:each="producer : ${producers}" th:value="${producer.id}" th:text="${producer.name}"></option>-->
<!--            </select>-->
<!--        </div>-->
    </table>
</form>


</body>
</html>