<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<p>Edit product</p>
<form action="#" th:action="@{/product/edit}" th:object="${productToBeEdit}" method="post">
    <table border="1">
        <tr>
            <td><label> Id</label>
            </td>
            <td><input readonly type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td><label> Name</label></td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td><label>Description:</label></td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td><label>Url:</label></td>
            <td><input type="text" th:field="*{url}"/></td>
        </tr>
        <tr>
            <td><label>Category:</label></td>
            <td><input type="text" th:field="*{category}"/></td>
        </tr>
        <tr>
            <td><label>Price:</label></td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td><label>Producer:</label></td>
            <td><input type="text" th:field="*{producer}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Edit"/></td>
        </tr>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect2">Producers</label>
            </div>
            <select id="inputGroupSelect2" class="custom-select" th:field="${productToBeEdit.producer.producerId}">
                <option th:each="producer: ${producers}" th:value="${producer.producerId}" th:text="${producer.producerName}"></option>
            </select>
        </div>
    </table>
</form>

</body>
</html>