<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in page</title>
</head>
<body>

<form  action="#" th:action="@{/login}" method="post">
    <table border="1">
        <tr>
            <td><label> Username</label>
            </td>
            <td ><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td><label> Name</label></td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login" /></td>
        </tr>
    </table>
</form>
</body>
</html>