<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>OnlineShopStilizat</title>
</head>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .bg {
            /* The image used */
            background-image: url("https://www.hairministry.co.uk/files/2020/11/online-shop-banner_2.0.png");

            /* Full height */
            height: 50%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>

<div class="bg"></div>



</body>
</html>


<h1>
    <p class="text-center">WELCOME TO MY SITE</p>
</h1>
<div class="p-3 mb-2 bg-info text-dark"></div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
-->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ff6347;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">

    <br></br>

    <p>
    <p class="h2">Here are my products</p>
        </p>
    <div class="p-3 mb-2 bg-info text-dark"></div>
    <div th:each="product: ${products}">

        <div class="card" style="width:300px; max-height: 500px;">
            <img th:src="@{${product.url}}" class="card-img-top" alt="...">
            <h5 class="card-title" th:text="${product.name}"></h5>
            <p class="card-text" th:text="'Id:' + ${product.id}"/>
            <p class="card-text" th:text="${product.description}"></p>
<!--            <a th:href="@{/add-product}"></a>-->

            <a th:href="@{/add-product}" class="btn btn-success">Add</a>
            <a th:href="@{/delete-product/{id}(id = ${product.id})}" class="btn btn-danger">Delete</a>
            <a th:href="@{/edit-product/{id}(id = ${product.id})}" class="btn btn-primary">Edit</a>
        </div>


        <p th:text="${product.id}"/>
        <p th:text="${product.name}"/>
        <p th:text="${product.description}"/>
        <p th:text="${product.url}"/>
        <p th:text="${product.category}"/>
        <p th:text="${product.price}"/>
        <p th:text="${product.producer}"/>

    </div>

    <!--    <a th:href="@{/delete-product/{id}(id = ${product.id})}"><button type="button" class="btn btn-danger"></button>Delete product</button></a>-->
    <!--    <a th:href="@{/edit-product/{id}(id = ${product.id})}"><button type="button" class="btn btn-info"></button>Edit product</button></a>-->

    </li>
</div>
</body>
</html>