<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>


<form action="#" th:action="@{/register/add}" th:object="${user}" method="post">
    <table border="1">
        <tr>
            <td><label> Username</label></td>
            <td><input type="text" th:field="*{username}" /></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="password" th:field="*{password}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>